@font-face {
    font-family: simplifica;
    src: url(simplifica.ttf);
}

@font-face{
    font-family: montserrat;
    src: url(MontserratBlack.otf)
}

article,aside,body,div,footer,header,h1,h2,p {
    margin:0;
    padding:0;
}

body{
    background-color: #c0c0c0;
    min-height: 100%;
}

.container{
    max-width: 1280px;
    margin: auto;
    overflow: auto;
    padding-bottom: 150px;
    font-family: simplifica;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    height: 50px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.72);
    z-index: auto;
}
li {
    float:right;
    font-size: 150%;
}
#navname a{
    width: 100%;
    color: #FFFFFF;
    font-size:32px;
    text-decoration: none;
    transition: 0.25s ease-in;
    }
#navname a:hover{
    color: #000000;
}
#navname{
    margin: 0.35% 1%;
    width: 12%;
    border: 3px solid white;
    border-radius: 25px;
    transition: 0.25s ease-in;
}
#navname:hover{
    background-color: #FFFFFF;
}
li a {
    height: 1.8em;
    margin: 0.35% auto;
    display: block;
    color: #e6e6e6;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.35em;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.15 ease;
}
li a:hover {
    background-color: transparent;
    color: #FFFFFF;
}
li a:active{
    color: #8c8c8c;
}

/* Image & name */
.dexter{
    position: absolute;
    z-index: -1;
    text-align: center;
}
.dexter img{
    width: 1280px;
    height:500px;
}
.dexter h1 {
    position: absolute;
    top: 150px; 
    left: 150px; 
    width: 400px; 
    border: 7px solid #FFFFFF;
    background-color:  rgba(0,0,0,0.4);
    color: white;
    font-size: 500%;
    font-family: montserrat;
}
.dexter p{
    position: absolute;
    top: 110px;
    left: 513px;
    color:white;
    font-size: 200%;
}
/* main content*/
.maincontent {
    position: absolute;
    height: 40em;
    margin: 450px auto; 
    width: 1280px;
    background-color: #d9d9d9;
}

/*Face*/
.face {
    position:relative;
    float: left;
    border: 7px solid #FFFFFF;
    background-position: 50%;
    border-radius: 1000%;
    width: 250px;
    height: 250px;
	background: url("face.jpg") no-repeat;
    margin: 43% 0 0 3%;
	}

/*content*/
.content{
    position: relative;
    text-align: left;
    width: 70%;
    margin: 38% 0 0 26.5%; 
}
.content p{
    color: #000000;
    font-size: 150%;
    font-family: simplifica;
}

/*Photos*/
.photos{
    position: absolute;
    margin: 2.2% 0 0 0;
    height: 20em;
    width: 1280px;
    background-color: #cccccc;
    clear:left;
}
.photos h1 {
    position: relative;
    margin: 0.2em 0.5em;
    font-family: montserrat;
    font-size: 250%;
    color: #000000;
}

/*blogs*/
.blog{
    position: inherit;
    margin: 27.5% 0 0 0;
    height: 30em;
    width: 100%;
    background-color: #c0c0c0;
}
.blog h1{
    position: inherit;
    margin: 0.2em 0.5em;
    font-family: montserrat;
    font-size: 250%;
    color: #000000;
}
/* blog 1*/
.blog1{
    position: relative;
    float:left;
    width:360px;
    margin: 2% 10%;
    vertical-align: top; 
    height:auto !important; 
}
.blog1content {
    display:none; 
    height:auto;
    margin:0;
}
.show {
    display: none;
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
    height:0;
}
.hide:target ~ .blog1content {
    display:inline; 
}
.blog1 img{
    position: inherit;
    height:20em;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.5em;
}
.blog1desc{
    position:absolute;
    height: 100px;
    width: 100%;
    top: 0.7px;
    right: 1px;
    bottom: 0.5px;
    left: 1px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    background: rgba(255,255,255,0.72);
    color: #000000;
    visibility: hidden;
    opacity:0;
    transition: all 0.25s ease;
}
.blog1:hover .blog1desc{
    visibility: visible;
    opacity:1;
}
.blog1content p {
    background: #FFFFFF;
	height: auto;
}

/* Blog 2*/
.blog2{
    position: relative;
    float:left;
    width:360px;
    margin: 2% 0 0 13.5%;
    vertical-align: top; 
    height:auto !important; 
}
.blog2content {
    display:none; 
    height:auto;
    margin:0;
}
.show {
    display: none;
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
    height:0;
}
.hide:target ~ .blog2content {
    display:inline; 
}
.blog2 img {
    position: inherit;
    height:20em;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.5em;
}
.blog2desc {
    position:absolute;
    height: 100px;
    width: 100%;
    top:0.7px;
    bottom:1px;
    left:0.5px;
    right:0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    background: rgba(255,255,255,0.72);
    color: #000000;
    visibility: hidden;
    opacity:0;
    transition: all 0.25s ease;
}
.blog2:hover .blog2desc{
    visibility: visible;
    opacity:1;
}
.blog2content p {
    background: #FFFFFF;
	height: auto;
}


/* CONTACT PAGE */

/* Form */
input, textarea{
    width: 300px;
}
.sendmessage {
   width :300px;
}
.sendmessage p{
   text-align: center;
}

footer {
    position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
    text-align: center;
} 
